@{
    ViewData["Title"] = "About";
}



<section class="about">
    <h1>About Zink</h1>
</section>
<section class="about-title">
    <div class="container">

        <h1>
            For almost a century, Jotun has protected property – from iconic buildings to beautiful homes. ​As one
            of
            the world’s leading manufacturers of paints and coatings, we combine high quality with creativity and
            innovation.
        </h1>
    </div>
</section>

<section class="about-key container-fluid">
    <h2>Key figures</h2>
    <div class="key-boxs row">
        <!-- BOX1 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/1926-established.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    1926
                </h3>
                <span>Established</span>
            </div>
        </div>
        <!-- BOX2 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/employees-worldwide.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    10 043
                </h3>
                <span>Employees worldwide</span>
            </div>
        </div>
        <!-- BOX3 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/countries-we-operate-in.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    100+
                </h3>
                <span>Countries we operate in</span>
            </div>
        </div>
        <!-- BOX4 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/companies.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    67
                </h3>
                <span>Companies</span>
            </div>
        </div>
        <!-- BOX5 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/production-remanufacturing-jotun.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    40
                </h3>
                <span>Production facilities</span>
            </div>
        </div>
        <!-- BOX6 -->
        <div class="key-box col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="key-img">
                <img src="~/assets/images/operating-revenue.svg" alt="">
            </div>
            <div class="key-content">
                <h3>
                    27.8 billion NOK
                </h3>
                <span>Operating revenue</span>
            </div>
        </div>
</section>